/* @section services */

.services {
    /*  margin-bottom: 150px; */
    margin-bottom: 149px;
    padding: 151px 0 150px;
    color: #FFFFFF;
    background-color: #121212;
}

.services__title {
    margin-bottom: 30px;
}

.services-list {
    margin-bottom: 104px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* column-gap: 10px; */
    column-gap: 11px;
    row-gap: 81px;
    /* row-gap: 79px; */
}

.services-item {
    width: calc(50% - 6px);
    position: relative;
}

.sticker-wrapper {
    position: absolute;
    top: 31px;
    left: 30px;
    z-index: 10;
}

.sticker {
    padding: 5px 20px;
    display: inline-block;
    font-size: 22px;
    font-weight: 400;
    line-height: 30px;
    color: #FFFFFF;
    background-color: #AD1818;
    border-radius: 5px;
}

.services-item__img-wrapper {
    height: 388px;
}

.services-item__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.services-item__title {
    margin-top: 25px;
    font-size: 30px;
    font-weight: 400;
    line-height: 41px;
}

.services__btn {
    /* padding: 56px 30px; */
    padding: 55px 30px;
    width: 100%;
    font-size: 30px;
    font-weight: 400;
    line-height: 41px;
    color: #FFFFFF;
    background-color: #AD1818;
    border: 1px solid #AD1818;
    border-radius: 5px;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    transition: all .2s ease;
    cursor: pointer;
}

.services__btn:hover {
    color: #AD1818;
    background-color: #ffffff;
    border: 1px solid #AD1818;
}


/* media queries */

@media (max-width: 961px) {
    .services {
        margin-bottom: 120px;
        padding: 150px 0 120px;
    }
    .services__title {
        margin-bottom: 29px;
    }
    .services-list {
        margin-bottom: 79px;
        column-gap: 10px;
        row-gap: 80px;
    }
    .services-item {
        width: calc(50% - 5px);
    }
    .services-item__img-wrapper {
        height: 315px;
    }
    .sticker-wrapper {
        top: 32px;
        left: 31px;
    }
    .sticker {
        padding: 6px 26px;
        font-size: 20px;
        line-height: 28px;
    }
    .services-item__title {
        /*  margin-top: 15px; */
        margin-top: 16px;
        font-size: 25px;
        line-height: 34px;
    }
}

@media (max-width: 768px) {}

@media (max-width: 550px) {
    .services {
        margin-bottom: 80px;
        padding: 80px 0 80px;
    }
    .services__title {
        /* margin-bottom: 20px; */
        margin-bottom: 19px;
    }
    .services-list {
        /* margin-bottom: 60px; */
        margin-bottom: 59px;
    }
    .services-list {
        flex-direction: column;
        justify-content: center;
        row-gap: 60px;
    }
    .services-item {
        width: 100%;
    }
    .services-item__img-wrapper {
        height: 240px;
    }
    .sticker-wrapper {
        top: 23px;
        left: 24px;
    }
    .sticker {
        padding: 6px 24px;
        font-size: 14px;
        line-height: 18px;
    }
    .services-item__title {
        margin-top: 9px;
        font-size: 18px;
        line-height: 25px;
    }
    .services__btn {
        padding: 34px 20px;
        font-size: 22px;
        line-height: 30px;
    }
}

@media (max-width: 350px) {}