@import url('./header.css');
@import url('./hero.css');
@import url('./about.css');
@import url('./projects.css');
@import url('./services.css');
@import url('./reviews.css');
@import url('./examples.css');
@import url('./contacts.css');
@import url('./footer.css');
*,
html,
body {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    overflow-x: hidden;
    font-family: 'Manrope', sans-serif;
    color: #121212;
    background-color: #ffffff;
}

h1,
h2,
h3,
h4,
p,
a,
li,
span {
    letter-spacing: -0.03em;
}

h2 {
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    text-transform: uppercase;
}

.container {
    max-width: 1180px;
    padding: 0 15px;
    margin: 0 auto;
    /*  border: 1px solid red; */
}


/*  */


/* 
.gal {
    height: 400px;
    position: relative;
    background-color: rgb(250, 189, 96);
}

.gal__block {
    width: 100%;
    position: absolute;
    bottom: 125px;
    border: 1px solid rgb(255, 0, 128);
}

.gal__wrapper {
    display: flex;
    justify-content: flex-start;
    column-gap: 30px;
}

.gal__item {
    width: 30px;
    height: 30px;
    background-color: aqua;
}
 */


/* media queries */

@media (max-width: 1200px) {}

@media (max-width: 961px) {}

@media (max-width: 768px) {}

@media (max-width: 550px) {
    .container {
        padding: 0 12px;
    }
    h2 {
        font-size: 14px;
        line-height: 19px;
    }
}

@media (max-width: 375px) {}

@media (max-width: 350px) {}

@media (max-width: 320px) {}